@import "tailwindcss";

@theme {
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

body {
  @apply antialiased text-slate-900 bg-slate-50;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}